.book-list {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
}

.book-list-title {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
}

.book-list-deleting {
	display: flex;
	flex-direction: row;
	height: 40px;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);;
}