.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 60px;
	background-color: #d5efff;
	padding: 0 20%;
}

.header-title {
	display: flex;
	align-items: center;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	height: 100%;
}